<div class="main">
	<form [formGroup]="form" (ngSubmit)="searchCats()">
		<mat-form-field appearance="fill">
			<mat-label>Select breeds</mat-label>
			<mat-select formControlName="breedsControl" multiple>
				<mat-option [value]="allBreeds">All breeds</mat-option>
				<mat-option *ngFor="let breeds of breedsIds" [value]="breeds.breedsId">{{breeds.name}}</mat-option>
			</mat-select>
		</mat-form-field>
		
		<mat-form-field appearance="fill">
			<mat-label>Select limit</mat-label>
			<mat-select formControlName="limit" >
				<mat-option *ngFor="let limit of limitValues" [value]="limit">{{limit}}</mat-option>
			</mat-select>
		</mat-form-field>
		
		<button class="btn" mat-flat-button color="primary"(click)="searchCats()" [disabled]="form.invalid">SEARCH</button>
	</form>
</div>


	<div class="card">
			<div *ngFor="let image of images" class=image-container>
				<div *ngFor="let breed of image.breeds">
					<mat-card>
							<mat-card-header>
								<mat-card-title>{{breed.name}}</mat-card-title>
							</mat-card-header>
							<img mat-card-image src="{{image.url}}">
							<mat-card-content>
								<p>{{ breed.description }}</p>
							</mat-card-content>
					</mat-card>
					<br><br>
				</div>
			</div>
	</div>