.main-title{
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	font-size: 40px;
	margin: 0px 0px 60px 0px;
}
.main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}


.card{
	display:flex;
	flex-wrap:wrap;
	justify-content: space-between;
}

form {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin: auto;
}

.btn{
	margin: auto 0;
}