<mat-card-title class="main-title">Search cats images using filters</mat-card-title>
<div class="main">
	<form [formGroup]="form" (ngSubmit)="searchCats()">
		<mat-form-field appearance="fill">
			<mat-label>Select breeds</mat-label>
			<mat-select formControlName="breedsControl" multiple>
				<mat-option [value]="allBreeds$ | async">All breeds</mat-option>
				<mat-option *ngFor="let breeds of breedsIds$ | async" [value]="breeds.breedsId">{{breeds.name}}</mat-option>
			</mat-select>
		</mat-form-field>
		
		<mat-form-field appearance="fill">
			<mat-label>Select limit</mat-label>
			<mat-select formControlName="limit" >
				<mat-option *ngFor="let limit of limitValues" [value]="limit">{{limit}}</mat-option>
			</mat-select>
		</mat-form-field>
		
		<button class="btn" mat-flat-button color="primary"(click)="searchCats()" [disabled]="form.invalid">SEARCH</button>
	</form>
</div>


	<div class="card">
			<app-cat-card *ngFor="let image of images$ | async" [image]="image"></app-cat-card>
	</div>