/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
	max-width: 800px;
	margin: auto;
	overflow: hidden;
	padding: 50px 32px;
}

.material-symbols-outlined {
	margin: 0px 0px 0px 10px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
